In [25]:
import pandas as pd
import seaborn

import numpy as np

import os
import glob
import requests

In [2]:
def download_dataset(path='../Data/pokemon/'):

    if not (os.path.exists(path)):
        os.makedirs(path)
    
    if os.path.exists(os.path.join(path, 'pokemon_data.json')):
        print("Json data already exists")
        return
    
    url = "https://raw.githubusercontent.com/sasayabaku/pokemon.json/master/pokedex.json"
    
    try:
        r = requests.get(url)
        with open(os.path.join(path, 'pokemon_data.json'), mode='w') as f:
            f.write(r.text)
            
    except requests.exceptions.RequestException as err:
        print(err)

### Default Setting

In [3]:
base_path = "../Data/pokemon"
kanto_num_list = list(range(1, 152))

### Download dataset

In [4]:
download_dataset()

### Read Json data

In [5]:
pokemon_list = pd.read_json(os.path.join(base_path, "pokemon_data.json"))

In [6]:
kanto_list = pokemon_list[:151]

In [7]:
kanto_list

,id,name,type,base
0,1,"{'english': 'Bulbasaur', 'japanese': 'フシギダネ', ...","[Grass, Poison]","{'HP': 45, 'Attack': 49, 'Defense': 49, 'Sp. A..."
1,2,"{'english': 'Ivysaur', 'japanese': 'フシギソウ', 'c...","[Grass, Poison]","{'HP': 60, 'Attack': 62, 'Defense': 63, 'Sp. A..."
2,3,"{'english': 'Venusaur', 'japanese': 'フシギバナ', '...","[Grass, Poison]","{'HP': 80, 'Attack': 82, 'Defense': 83, 'Sp. A..."
3,4,"{'english': 'Charmander', 'japanese': 'ヒトカゲ', ...",[Fire],"{'HP': 39, 'Attack': 52, 'Defense': 43, 'Sp. A..."
4,5,"{'english': 'Charmeleon', 'japanese': 'リザード', ...",[Fire],"{'HP': 58, 'Attack': 64, 'Defense': 58, 'Sp. A..."
...,...,...,...,...
146,147,"{'english': 'Dratini', 'japanese': 'ミニリュウ', 'c...",[Dragon],"{'HP': 41, 'Attack': 64, 'Defense': 45, 'Sp. A..."
147,148,"{'english': 'Dragonair', 'japanese': 'ハクリュー', ...",[Dragon],"{'HP': 61, 'Attack': 84, 'Defense': 65, 'Sp. A..."
148,149,"{'english': 'Dragonite', 'japanese': 'カイリュー', ...","[Dragon, Flying]","{'HP': 91, 'Attack': 134, 'Defense': 95, 'Sp. ..."
149,150,"{'english': 'Mewtwo', 'japanese': 'ミュウツー', 'ch...",[Psychic],"{'HP': 106, 'Attack': 110, 'Defense': 90, 'Sp...."
150,151,"{'english': 'Mew', 'japanese': 'ミュウ', 'chinese...",[Psychic],"{'HP': 100, 'Attack': 100, 'Defense': 100, 'Sp..."

### expand dict `name`, `base`, `type`

In [80]:
def packing_dict(target_list):
    name_df = packing_dict_name(target_list)
    base_df = packing_dict_base(target_list)
    type_df = packing_dict_type(target_list)
    
    fixed_df_dict = {'name': name_df, 'base': base_df, 'type': type_df}
    
    return fixed_df_dict

def packing_dict_name(target_list):
    name_df = pd.DataFrame(columns=target_list.iloc[0]['name'].keys())
    
    for a, i in zip(target_list['name'], range(len(target_list['name']))):
        name_df = name_df.append(pd.DataFrame(a, index=[i]))
        
    return name_df

def packing_dict_base(target_list):
    base_df = pd.DataFrame(columns=target_list.iloc[0]['base'].keys())
    
    for a, i in zip(target_list['base'], range(len(target_list['base']))):
        base_df = base_df.append(pd.DataFrame(a, index=[i]))
        
    return base_df

def packing_dict_type(target_list):

    type_df = pd.DataFrame(columns=['First', 'Second'])
    
    for a, i in zip(target_list['type'], range(len(target_list['type']))):
        
        if len(a) == 2:
            type_df = type_df.append(pd.DataFrame([a], index=[i], columns=['First', 'Second']))

        elif len(a) == 1:
            type_df = type_df.append(pd.DataFrame(a.append(np.nan), index=[i], columns=['First', 'Second']))
        
    return type_df

In [81]:
result = packing_dict(kanto_list[78:97])

In [82]:
result['type']

       First   Second
0      Water  Psychic
1      Water  Psychic
2   Electric    Steel
3   Electric    Steel
4     Normal   Flying
5     Normal   Flying
6     Normal   Flying
7      Water      NaN
8      Water      Ice
9     Poison      NaN
10    Poison      NaN
11     Water      NaN
12     Water      Ice
13     Ghost   Poison
14     Ghost   Poison
15     Ghost   Poison
16      Rock   Ground
17   Psychic      NaN
18   Psychic      NaN